@model List<portafolio.Models.Boleta>
@{
    ViewBag.Title = "Boletas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contador = 1;
    string TipoPago = "";
}

<header class="container my-5">
    <div class="row flex-column">
        <h1 class="mb-0">Boletas</h1>
        <small>Podrás ingresar boletas.</small>
    </div>
</header>
<main class="container">
    <div class="row bg-dark py-4 mb-5 border-top box-shadow border-radius">
        <div class="col-md-12">
            <h5 class="c-orange mb-4">Agregar boleta:</h5>
        </div>
        @*<div class="form-group col-md-2">
            <label class="w-100">
                Número boleta:
                <input id="numBoleta" type="text" class="form-control" placeholder="Número boleta" onkeyup="valNumber(this,1,15)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>*@
        <div class="form-group col-md-2">
            <label class="w-100 d-flex flex-column">
                Fecha:
                <input id="fechaBoleta" type="text" class="form-control" disabled>
            </label>
        </div>
        <div class="form-group col-md-2">
            <label class="w-100 d-flex flex-column">
                Cliente:
                <select class="form-control" name="idCliente" id='idCliente' onchange="valSelectBoletas(this)"></select>
                <label class="error text-danger d-none position-relative"></label>
            </label>
        </div>
        <div class="form-group col-md-2">
            <label class="w-100 d-flex flex-column">
                Tipo pago:
                <select class="form-control" name="tipoPago" id='tipoPago' onchange="valSelect(this)">
                    <option value="-1" selected>Seleccione</option>
                    <option value="1">Efectivo</option>
                    <option value="2">Tarjeta</option>
                </select>
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div id="fiado" class="form-group col-md-2 d-none">
            <label class="w-100">
                Monto fiado:
                <input id="montoFiado" type="number" value="0" class="form-control" placeholder="Monto Fiado" onkeyup="valNumber(this,1,9999999)" onchange="valNumber(this,1,9999999)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="form-group col-md-2">
            <label class="w-100">
                Monto total:
                <input id="montoTotal" type="number" class="form-control" placeholder="Monto total" onkeyup="valNumber(this,1,9999999)" onchange="valNumber(this,1,9999999)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>

        <div class="col-md-12 text-right">
            <button class="btn btn-primary mt-4" onclick="agregar('boleta')">Agregar</button>
        </div>
    </div>
    <div class="row">
        <div class="w-100 title-table">
            <h5 class="c-orange mb-4">Listado de boletas:</h5>
        </div>
        <table class="table table-dark table-hover border-top" id="tablaBoletas">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Número boleta</th>
                    <th scope="col">Monto fiado</th>
                    <th scope="col">Tipo pago</th>
                    <th scope="col">Fecha boleta</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Total boleta</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in Model)
                {
                <tr>
                    <th scope="row">@contador</th>
                    <td>
                        <p>@item.NumeroBoleta</p>
                    </td>
                    <td>
                        <p>
                            @item.Fiado
                        </p>
                    </td>
                    <td>
                        <p>
                            @switch (item.Fiado)
                            {
                                case 1:
                                    TipoPago = "Efectivo";
                                    break;
                                case 2:
                                    TipoPago = "Efectivo";
                                    break;
                                default:
                                    break;
                            }
                            @TipoPago
                        </p>
                    </td>
                    <td>
                        <p>@item.FechaBoleta</p>
                    </td>
                    <td>
                        <p>@item.IdCliente</p>
                    </td>
                    <td>
                        <p>@item.TotalBoleta</p>
                    </td>
                </tr>
                    contador++;
                }*@
            </tbody>
        </table>
    </div>
</main>

<script src="@Url.Content("~/assets/js/boleta.js")"></script>