
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<portafolio.Models.Boleta>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contador = 1;
}

<header class="container my-5">
    <div class="row justify-content-center">
        <h1>Informes</h1>
    </div>
</header>
<main class="container">
    <div class="row">
        <div class="col-md-12">
            <div><h4>Descarga informes</h4></div>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center" id="headingOne">
                        <h4 class="mb-0 cursor-pointer" data-toggle="tooltip" data-placement="top" title="Desplegar/Esconder">
                            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Mejores fiadores
                            </a>
                        </h4>
                        <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Descargar en Excel">
                            <i class="fas fa-download mr-2"></i><i class="fas fa-file-excel"></i>
                        </button>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table" id="tablaBoletas">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Rut</th>
                                        <th scope="col">Nombres</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>
                                            <p>p</p>
                                        </td>
                                        <td>
                                            <p>q</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>
                                            <p>p</p>
                                        </td>
                                        <td>
                                            <p>q</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>
                                            <p>p</p>
                                        </td>
                                        <td>
                                            <p>q</p>
                                        </td>
                                    </tr>
                                    @*@foreach (var item in Model)
                                        {
                                        <tr>
                                            <th scope="row">@contador</th>
                                            <td>
                                                <p>@item.NumeroBoleta</p>
                                            </td>
                                            <td>
                                                <p>@item.Fiado</p>
                                            </td>
                                            <td>
                                                <p>@item.FechaBoleta</p>
                                            </td>
                                            <td>
                                                <p>@item.IdCliente</p>
                                            </td>
                                            <td>
                                                <p>@item.TotalBoleta</p>
                                            </td>
                                            <td>
                                                <p>@item.NumeroBoleta</p>
                                            </td>
                                        </tr>
                                            contador++;
                                        }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center" id="1">
                        <h4 class="mb-0 cursor-pointer" data-toggle="tooltip" data-placement="top" title="Desplegar/Esconder">
                            <a data-toggle="collapse" data-target="#1a" aria-expanded="true" aria-controls="1a">
                                Clientes que más compran
                            </a>
                        </h4>
                        <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Descargar en Excel">
                            <i class="fas fa-download mr-2"></i><i class="fas fa-file-excel"></i>
                        </button>
                    </div>

                    <div id="1a" class="collapse" aria-labelledby="1" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table" id="tablaBoletas">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Rut</th>
                                        <th scope="col">Nombres</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>
                                            <p>p</p>
                                        </td>
                                        <td>
                                            <p>q</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>
                                            <p>p</p>
                                        </td>
                                        <td>
                                            <p>q</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>
                                            <p>p</p>
                                        </td>
                                        <td>
                                            <p>q</p>
                                        </td>
                                    </tr>
                                    @*@foreach (var item in Model)
                                        {
                                        <tr>
                                            <th scope="row">@contador</th>
                                            <td>
                                                <p>@item.NumeroBoleta</p>
                                            </td>
                                            <td>
                                                <p>@item.Fiado</p>
                                            </td>
                                            <td>
                                                <p>@item.FechaBoleta</p>
                                            </td>
                                            <td>
                                                <p>@item.IdCliente</p>
                                            </td>
                                            <td>
                                                <p>@item.TotalBoleta</p>
                                            </td>
                                            <td>
                                                <p>@item.NumeroBoleta</p>
                                            </td>
                                        </tr>
                                            contador++;
                                        }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center" id="2">
                        <h4 class="mb-0 cursor-pointer" data-toggle="tooltip" data-placement="top" title="Desplegar/Esconder">
                            <a data-toggle="collapse" data-target="#2a" aria-expanded="true" aria-controls="2a">
                                Peores fiadores
                            </a>
                        </h4>
                        <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Descargar en Excel">
                            <i class="fas fa-download mr-2"></i><i class="fas fa-file-excel"></i>
                        </button>
                    </div>

                    <div id="2a" class="collapse" aria-labelledby="2" data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table" id="tablaBoletas">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Rut</th>
                                        <th scope="col">Nombres</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>
                                            <p>p</p>
                                        </td>
                                        <td>
                                            <p>q</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>
                                            <p>p</p>
                                        </td>
                                        <td>
                                            <p>q</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>
                                            <p>p</p>
                                        </td>
                                        <td>
                                            <p>q</p>
                                        </td>
                                    </tr>
                                    @*@foreach (var item in Model)
                                        {
                                        <tr>
                                            <th scope="row">@contador</th>
                                            <td>
                                                <p>@item.NumeroBoleta</p>
                                            </td>
                                            <td>
                                                <p>@item.Fiado</p>
                                            </td>
                                            <td>
                                                <p>@item.FechaBoleta</p>
                                            </td>
                                            <td>
                                                <p>@item.IdCliente</p>
                                            </td>
                                            <td>
                                                <p>@item.TotalBoleta</p>
                                            </td>
                                            <td>
                                                <p>@item.NumeroBoleta</p>
                                            </td>
                                        </tr>
                                            contador++;
                                        }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


