@model List<portafolio.Models.ViewModels.OPedidoDetalles>
    <div class="w-100 title-table">
        <h5 class="c-orange mb-4">Listado de ordenes de pedido:</h5>
    </div>
    <table class="table table-dark table-hover col-md-12 border-top" id="tablaOP">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Precio Total</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @{ int contador = 1;}
            @foreach (var item in Model)
             {
                if (item.Encabezado.Estado == 0)
                 {
                    <tr>
                    @{
                        double total = item.Detalles.Sum(deta => deta.PrecioProducto);
                    }
                    <td>@contador</td>
                    <td>@item.Encabezado.NumeroPedido</td>
                    <td>@item.Encabezado.NombreProveedor</td>
                    <td>@total</td>
                    <td>
                        @if (item.Encabezado.IsEnviado == 0)
                    {
                    <button id="botonEliminarOrden" data-toggle="tooltip" data-placement="top" title="Eliminar orden." class="btn btn-danger" onclick="eliminarOrden(@item.Encabezado.NumeroPedido)"><svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z"></path></svg></button>
                    <button id="botonEnviarOrden" data-toggle="tooltip" data-placement="top" title="Enviar orden." class="btn btn-success" onclick="enviarOrden(@item.Encabezado.NumeroPedido)"><i class="fab fa-telegram-plane"></i></button>
                    <button id="botonEditarOrden" class="btn btn-warning" onclick="alert('Falta crear funcionalidad editar');"><i class="fas fa-edit"></i></button>
                    }
                    else
                    {
                    <button id="botonEliminarOrden" data-toggle="tooltip" data-placement="top" title="No se puede eliminar una orden enviada." class="btn btn-danger" disabled onclick="eliminarOrden(@item.Encabezado.NumeroPedido)"><svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z"></path></svg></button>
                    <button id="botonEnviarOrden" data-toggle="tooltip" data-placement="top" title="La orden ya ha sido enviada." class="btn btn-success" disabled alt="La orden ya ha sido enviada." onclick="enviarOrden(@item.Encabezado.NumeroPedido)"><i class="fab fa-telegram-plane"></i></button>
                    <button id="botonEditarOrden" disabled onclick="alert('Falta editar');" class="btn btn-warning"><i class="fas fa-edit"></i></button>
                    }

                    </td>

                </tr>
                contador++;
                }

             }

        </tbody>
       
    </table>
    