@model List<portafolio.Models.Cliente>
@{
    ViewBag.Title = "Gestión de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contador = 1;
}

<header class="container my-5">
    <div class="row flex-column">
        <h1 class="mb-0">Clientes</h1>
        <small>Podrás gestionar los clientes.</small>
    </div>
</header>
<main class="container">
    <div class="row bg-dark py-4 mb-5 border-top box-shadow border-radius">
        <div class="col-md-12">
            <h5 class="c-orange mb-4">Agregar cliente:</h5>
        </div>
        <div class="form-group col-md-4">
            <label class="w-100">
                Rut:
                <input id="rut" type="text" class="form-control" placeholder="Rut cliente" onkeyup="checkRut(this)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="form-group col-md-4">
            <label class="w-100">
                Nombres:
                <input id="nombres" type="text" class="form-control" placeholder="Nombre cliente" onkeyup="valTexto(this,4,50)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-primary mt-4" onclick="agregar('clientes')">Agregar</button>
        </div>
    </div>
    <div class="row">
        <div class="w-100 title-table">
            <h5 class="c-orange mb-4">Listado de clientes:</h5>
        </div>
        <table class="table table-dark table-hover border-top" id="tablaClientes">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@contador</th>
                        <td>
                            <p>@item.Rut</p>
                            <input type="text" value="@item.Rut" class="form-control editar d-none rut" onkeyup="checkRut(this)" />
                            <label class="error text-danger d-none "></label>
                        </td>
                        <td>
                            <p>@item.Nombre</p>
                            <input type="text" value="@item.Nombre" class="form-control editar d-none" onkeyup="valTexto(this,4,50)" />
                            <label class="error text-danger d-none "></label>
                        </td>
                        <td class="d-flex">
                            <a class="btn btn-primary editar d-none cursor-pointer" onclick="guardar(this,'clientes')" data-toggle="tooltip" data-placement="top" title="Guardar cliente"><i class="fas fa-check-circle"></i></a>
                            <a class="btn btn-danger btnEliminar mr-2 cursor-pointer" onclick="eliminar(this,'clientes')" data-toggle="tooltip" data-placement="top" title="Eliminar cliente"><i class="fas fa-trash-alt"></i></a>
                            <a class="btn btn-secondary btnEditar cursor-pointer" onclick="editar(this,'clientes')" data-toggle="tooltip" data-placement="top" title="Editar cliente"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                    contador++;
                }
            </tbody>
        </table>
    </div>
</main>

<script src="@Url.Content("~/assets/js/clientes.js")"></script>