@model List<portafolio.Models.Proveedor>

@{
    ViewBag.Title = "Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contador = 1;
}


<header class="container my-5">
    <div class="row flex-column">
        <h1 class="mb-0">Proveedores</h1>
        <small>Podrás gestionar los proveedores.</small>
    </div>
</header>
<main class="container">
    <div class="row bg-dark py-4 mb-5 border-top box-shadow border-radius">
        <div class="col-md-12">
            <h5 class="c-orange mb-4">Agregar proveedor:</h5>
        </div>
        <div class="form-group col-md-3">
            <label class="w-100">
                Rut:
                <input id="rut" type="text" class="form-control" placeholder="Rut cliente" onkeyup="checkRut(this)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>

        <div class="form-group col-md-3">
            <label class="w-100">
                Email:
                <input id="email" type="email" class="form-control" placeholder="Email" onkeyup="valEmail(this)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="form-group col-md-3">
            <label class="w-100">
                Razón Social:
                <input id="razon" type="text" class="form-control" placeholder="Razon Social" onkeyup="valTexto(this,4,50)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="form-group col-md-3">
            <label class="w-100">
                Fono
                <input id="fono" type="text" class="form-control" placeholder="Fono" onkeyup="valNumber(this,9,12)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="form-group col-md-3">
            <label class="w-100">
                Giro:
                <input id="giro" type="text" class="form-control" placeholder="Rubro" onkeyup="valTexto(this,4,50)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" onclick="agregar('proveedor')">Agregar</button>
        </div>
    </div>
    <div class="row">
        <div class="w-100 title-table">
            <h5 class="c-orange mb-4">Listado de proveedores:</h5>
        </div>
        <table class="table table-hover table-dark border-top" id="tabla">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Rut</th>
                    <th scope="col">Email</th>
                    <th scope="col">Razon Social</th>
                    <th scope="col">Giro</th>
                    <th scope="col">Fono</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@contador</th>
                        <td>
                            <p>@item.RutProveedor</p>
                            <input type="text" value="@item.RutProveedor" class="form-control editar d-none rut" onkeyup="checkRut(this)">
                            <label class="error text-danger d-none "></label>
                        </td>
                        <td>
                            <p>@item.Email</p>
                            <input type="text" value="@item.Email" class="form-control editar d-none email" onkeyup="valEmail(this)">
                            <label class="error text-danger d-none "></label>
                        </td>
                        <td>
                            <p>@item.RazonSocial</p>
                            <input type="text" value="@item.RazonSocial" class="razon form-control editar d-none" onkeyup="valTexto(this,4,50)">
                            <label class="error text-danger d-none "></label>
                        </td>
                        <td>
                            <p>@item.Giro</p>
                            <input type="text" value="@item.Giro" class="giro form-control editar d-none" onkeyup="valTexto(this,4,50)">
                            <label class="error text-danger d-none "></label>
                        </td>
                        <td>
                            <p>@item.Fono</p>
                            <input type="text" value="@item.Fono" class="fono form-control editar d-none" onkeyup="valNumber(this,9,12)">
                            <label class="error text-danger d-none "></label>
                        </td>
                        <td>
                            <a class="btn btn-primary editar d-none cursor-pointer" onclick="guardar(this,'proveedor')" data-toggle="tooltip" data-placement="top" title="Guardar contacto"><i class="fas fa-check-circle"></i></a>
                            <a class="btn btn-danger btnEliminar mr-2 cursor-pointer" onclick="eliminar(this,'proveedor')" data-toggle="tooltip" data-placement="top" title="Eliminar contacto"><i class="fas fa-trash-alt"></i></a>
                            <a class="btn btn-secondary btnEditar cursor-pointer" onclick="editar(this)" data-toggle="tooltip" data-placement="top" title="Editar contacto"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                    contador++;
                }
            </tbody>
        </table>
    </div>
</main>

<script src="@Url.Content("~/assets/js/proveedores.js")"></script>