@model portafolio.Models.ViewModels.Bienvenida
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Logeado = "logeado";

}

@*<h1 class="mt-5 pt-5 text-center mb-5">Almacén Yuyitos</h1>*@

@*<h1 style="margin-top: 20px; margin-bottom: 30px;" class="text-center">Almacén Yuyitos</h1>*@

<div class="container mt-5">
    <div class="row justify-content-center" style="color: white">
        <div class="col-9 text-center">
            <h4 class="mb-5">@Session["usuario"] Estás son las últimas 5 boletas generadas:</h4> 
            <table class="table table-dark table-hover border-top">
                <thead>
                    <tr>
                        <th>N° Bol</th>
                        <th>Fecha Boleta</th>
                        <th>Tipo Pago</th>
                        <th>Total Boleta</th>
                    </tr>

                </thead>
                <tbody>
                    
        @{
            var maxCiclos = 0;
            if (Model.Ultimas5Boletas != null)
            {
                foreach (var item in Model.Ultimas5Boletas)
                {
                    <tr>
                        <td scope="col">@item.NumeroBoleta</td>
                        <td scope="col">@item.FechaBoleta.ToShortDateString()</td>
                        <td scope="col">@(item.TipoPago.Equals("1")?"Efectivo":"Tarjeta")</td>
                        <td scope="col">@item.TotalBoleta </td>
                    </tr>

                    maxCiclos++;
                    // Saca del ciclo cuando lleva las cinco boletas
                    if (maxCiclos == 5) { break; }

                }

            }
            else
            {
                <tr> <td>Debes tener el procedimiento del package UltimasBoletas 30 Dias </td> </tr>
            }
        }
                </tbody>
            </table>

        </div>
        <div style="margin-top:30px" class="col-9 text-center">
            <h4 class="mb-5">@Session["usuario"] estos son los productos que poseen menos porcentaje de stock actualmente:</h4>
            <table class="table table-dark table-hover border-top">
                <thead>
                    <tr>
                        <th>ID Producto</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Crítico</th>
                        <th>Queda</th>
                    </tr>
                </thead>
                <tbody>
                    
        @{
            maxCiclos = 0;

            if (Model.Ultimas5Boletas != null)
            {
                foreach (var item in Model.ProductosPocoStock)
                {
                    var color = "none";
                    var fontcolor = "white";

                    if (item.PorcentajeStock <= 15)
                    {
                        color = "red";
                        fontcolor = "black";
                    }
                    else if (item.PorcentajeStock <= 45)
                    {
                        fontcolor = "black";
                        color = "gold";
                    }
                    <tr>
                        <td>@item.IdProducto</td>
                        <td>@item.Descripcion</td>
                        <td>@item.PrecioVenta</td>
                        <td>@item.Stock</td>
                        <td>@item.StockCritico</td>
                        <td style="background-color:@color ;color:@fontcolor">@item.PorcentajeStock%</td>
                     </tr>

                     maxCiclos++;
                            // Saca del ciclo cuando lleva las cinco boletas
                            if (maxCiclos == 5) { break; }

                }

            }
            else
            {
                <tr> <td colspan="6">Debes tener el procedimiento del package PRODUCTOS_POCO_STOCK </td> </tr>
            }
        }
                </tbody>
            </table>
        </div>
    </div>
</div>