@model List<portafolio.Models.ViewModels.ClienteFiados>
@{
    ViewBag.Title = "Fiados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contador = 1;
}

<header class="container my-5">
    <div class="row flex-column">
        <h1 class="mb-0">Fiados</h1>
        <small>Podrás revisar las boletas de los clientes fiadores y pagar las boletas fiadas.</small>
    </div>
</header>

<main class="container">
    <div class="row">
        <div class="w-100 title-table">
            <h5 class="c-orange mb-4">Listado de fiadores:</h5>
        </div>
        <table class="table table-dark border-top">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Autorizado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Cliente.Id</td>
                        <td>@item.Cliente.Rut</td>
                        <td>@item.Cliente.Nombre</td>
                        <td> @(item.Cliente.Autorizado_fiado == 0 ? "Si" : "No")</td>
                        <td><button class="btn btn-secondary" onclick="abrirBoletas(this)">Mostrar boletas<i class="ml-2 fas fa-chevron-circle-down"></i></button></td>
                    </tr>
                    <tr class="boletas d-none">
                        <td colspan="5" class="p-0 pl-3 pt-3">
                            @{if (item.ListaFiados.Count() > 0)
                                {
                                    <table class="table text-dark table-hover w-97">
                                        <thead class="table-secondary">

                                            <tr>
                                                <th scope="col">Monto Solicitado</th>
                                                @*<th scope="col">Monto Pagado</th>*@
                                                <th scope="col">Fecha Compra</th>
                                                @*<th scope="col">Fecha Pago</th>*@
                                                <th scope="col">Estado Pago</th>
                                                <th scope="col">Acciones</th>
                                                <th scope="col" class="d-none">Id Cliente</th>
                                                <th scope="col" class="d-none">Id Boleta</th>
                                                <th scope="col" class="d-none">Id Fiado</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-light">
                                            @foreach (var fi in item.ListaFiados)
                                            {
                                            <tr>
                                                <td>@fi.MontoSolicitado</td>
                                                @*<td>@fi.MontoPagado</td>*@
                                                <td>@fi.FechaCompra.ToString("dd/MM/yyyy")</td>
                                                @*<td>@fi.FechaPago.ToString("dd/MM/yyyy")</td>*@
                                                <td class="estadoFiado">@(fi.EstadoPago == "0" ? "En deuda" : "Pagado")</td>
                                                <td><button class="btn btn-primary" onclick="pagarFiado(this)" data-toggle="tooltip" data-placement="top" title="Pagar boleta"><i class="fas fa-check-circle"></i></button></td>
                                                <td class="d-none">@fi.IdCliente</td>
                                                <td class="d-none">@fi.IdBoleta</td>
                                                <td class="d-none idFiado">@fi.IdFiado</td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else {
                                    <h5 class="text-center pb-3">No exiten boletas para el cliente seleccionado</h5>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</main>

<script src="@Url.Content("~/assets/js/fiados.js")"></script>
