@model List<portafolio.Models.ViewModels.ClienteFiados>
@{
    ViewBag.Title = "Fiados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int contador = 1;
}

<header class="container my-5">
    <div class="row justify-content-center">
        <h1>Fiados</h1>
    </div>
</header>

<main class="container">
    @*<div class="row bg-light py-4 mb-5">
        <div class="form-group col-md-4">
            <label class="w-100">
                Rut:
                <input id="rut" type="text" class="form-control" placeholder="Rut cliente" onkeyup="checkRut(this)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="form-group col-md-4">
            <label class="w-100">
                Nombres:
                <input id="nombres" type="text" class="form-control" placeholder="Nombre cliente" onkeyup="valTexto(this,4,50)">
                <label class="error text-danger d-none position-absolute"></label>
            </label>
        </div>
        <div class="col-md-4 text-right">
            <button class="btn btn-secondary mt-4" onclick="agregar('clientes')">Agregar</button>
        </div>
    </div>*@
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Autorizado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Cliente.Id</td>
                        <td>@item.Cliente.Rut</td>
                        <td>@item.Cliente.Nombre</td>
                        <td> @(item.Cliente.Autorizado_fiado == 0 ? "Si" : "No")</td>
                        <td><button class="btn btn-secondary" onclick="abrirBoletas(this)">Mostrar boletas<i class="ml-2 fas fa-chevron-circle-down"></i></button></td>
                    </tr>
                    <tr class="boletas d-none">
                        <td colspan="5" class="p-0">

                            <table class="table">
                                <thead class="table-secondary">

                                    <tr>
                                        <th scope="col">Monto Solicitado</th>
                                        <th scope="col">Monto Pagado</th>
                                        <th scope="col">Fecha Compra</th>
                                        <th scope="col">Fecha Pago</th>
                                        <th scope="col">Estado Pago</th>
                                        <th scope="col">Acciones</th>
                                        <th scope="col" class="d-none">Id Cliente</th>
                                        <th scope="col" class="d-none">Id Boleta</th>
                                    </tr>
                                </thead>
                                <tbody class="table-light">
                                    @foreach (var fi in item.ListaFiados)
                                    {
                                        <tr>
                                            <td>@fi.MontoSolicitado</td>
                                            <td>@fi.MontoPagado</td>
                                            <td>@fi.FechaCompra.ToString("dd/MM/yyyy")</td>
                                            <td>@fi.FechaPago.ToString("dd/MM/yyyy")</td>
                                            <td>@(fi.EstadoPago == "0" ? "En deuda" : "Pagado")</td>
                                            <td><button class="btn btn-primary" onclick="pagarBoleta(this)" data-toggle="tooltip" data-placement="top" title="Pagar boleta"><i class="fas fa-check-circle" ></i></button></td>
                                            <td class="d-none">@fi.IdCliente</td>
                                            <td class="d-none">@fi.IdBoleta</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</main>

<script src="@Url.Content("~/assets/js/fiados.js")"></script>
